html, body {
    margin: 0;
    height: 100%;
    /* background-color: red; */
}

main {
 display: flex;   
 height: 100%;
 /* justify-content: center; */
 align-items: center;

 flex-direction: column;
}

#searchbar-container{ 
    /* justify-content: center;
    align-items: center; */
    width: 100%;
    justify-content: center;
    
}

#search-bar {
    width: 50%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center; 
}

#google-logo {
  margin-top: 250px;
  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    float: right;
}

li a {
    display: block;
    padding: 8px;
    padding-top: 20px;
    
}

li #menu {
    padding-top: 15px;
    padding-left: 10px;
    height: 2em;
    width: 2em;
}

#account {
    padding-left: 20px;
    padding-top: 5px;
}
a {
    color: black;
}
a:link{
    text-decoration: none;
}

a:visited {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

a:active {
    text-decoration: none
}

footer ul {
    
}