html, body {
    margin: 0;
    height: 100%;
    /* background-color: red; */
}

main {
 display: flex;   
 height: 90%;
 /* justify-content: center; */
 align-items: center;

 flex-direction: column;
}

#searchbar-container{ 
    /* justify-content: center;
    align-items: center; */
    width: 100%;
    justify-content: center;
    
}

#search-bar {
    width: 50%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center; 
}

#google-logo {
  margin-top: 250px;
  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    float: right;
}

li a {
    display: block;
    padding: 8px;
    padding-top: 20px;
    
}

li #menu {
    padding-top: 15px;
    padding-left: 10px;
    height: 2em;
    width: 2em;
}

#account {
    padding-left: 20px;
    padding-top: 5px;
}
a {
    color: black;
}
a:link{
    text-decoration: none;
}

a:visited {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

a:active {
    text-decoration: none
}

footer ul {
    float: left;
    width: 100%;
    padding-bottom: 20px;
}

.float-left {
    display: inline;
    float: left;
}

input[type="search"] {
    width: 50vw;
    max-width: 500px;
    height: 40px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    border-radius: 25px;
    font-size: 17px;
    transition: all 0.5s;
}

input[type="search"] {
    outline: none;
}

#search-bar {
    padding-top: 20px;
}

#button-div {
    text-align: center;
    padding-top: 40px;
    color: #3b3b3b;
}

#button-left {
    margin-right: 30px;
    background-color: #eee;
    cursor: pointer;
    height: 35px;
    border: 1px solid #fff;
}

#button-right {
    margin-left: 30px;
    background-color: #eee;
    cursor: pointer;
    height: 35px;
    border: 1px solid #fff;
}